.bg{
    height: 1080px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    height: 30px;
    width: 100%;
    padding: 20px;
    margin-bottom: 75px;
    font-size: x-large;
    background-color: transparent;
}
h1{
    justify-content: center;
    display: flex;
    color:antiquewhite;
    margin-top: -5px;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: right;
    height: 30px;
    width: 100%;
}
.container{
    height: 550px;
    width: 700px;
    background-color: rgba(117, 107, 107, 0.219);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 2px solid white;
    padding: 25px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
button.insta{
    width: 100%;
    height: 60px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: rgba(128, 128, 128, 0.527);
    font-size: x-large;
    font-weight: 700;
    transition: .5s;
}
button#signin.signin{
    height: 35px;
    width: 110px;
    border-radius: 6px;
    border: 1px solid white;
    background : transparent;
    backdrop-filter: blur(8px);
    transition: .5s;
    background-color: rgba(128, 128, 128, 0.527);
    margin-right: 30px;
    font-size: larger;
}
button#signup.signup{
    height: 35px;
    width: 110px;
    border-radius: 6px;
    border: 1px solid white;
    background : transparent;
    backdrop-filter: blur(8px);
    transition: .5s;
    background-color: rgba(128, 128, 128, 0.527);
    margin-right: 30px;
    margin-left: -25px;
    font-size: larger;
}
b{  text-decoration: none;
    color: aliceblue;
    font-style: inherit;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button#signup.signup:hover{
    background-color: rgb(2, 14, 24);
    color: rgb(255, 255, 255);
}
button#signin.signin:hover{
    background-color: rgb(2, 14, 24);
    color: rgb(255, 255, 255);
}
button#insta.insta:hover{
    background-color: rgb(2, 14, 24);
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}
footer{
    text-align: center;
    font-size: larger;
    color: aliceblue;
    letter-spacing: 2px;
    
}
